@model IEnumerable<Farm_Central.Models.farmer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (User.IsInRole("Employee"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Full Name
        </th>
        <th>
            Email
        </th>

        <th>
            Contact Number
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.contact_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.farmer_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.farmer_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.farmer_id })
            </td>
        </tr>
    }

    <style>
        body {
            background-color: #f9f5eb;
            font-family: Arial, sans-serif;
        }

        main {
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }

        h2 {
            color: #582c0d;
            margin-bottom: 10px;
        }

        hr {
            border-color: #734022;
        }

        .row {
            margin-bottom: 20px;
        }

        .col-form-label {
            color: #582c0d;
        }

        .form-control {
            border-radius: 5px;
            border-color: #582c0d;
        }

        .checkbox label {
            color: #582c0d;
        }

        .btn {
            background-color: #734022;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-right: 10px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #582c0d;
            }

        p {
            color: #734022;
            line-height: 1.5;
        }
    </style>
</table>
