@model Farm_Central.Models.order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Quantity:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            Customer:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer.fullname)
        </dd>

        <dt>
            Product:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product.name)
        </dd>

        <dt>
            Unit Price:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            Total Price:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>
    </dl>
</div>


<style>
    body {
        background-color: #f9f5eb;
        font-family: Arial, sans-serif;
    }

    main {
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
    }

    h2 {
        color: #582c0d;
        margin-bottom: 10px;
    }

    hr {
        border-color: #734022;
    }

    .row {
        margin-bottom: 20px;
    }

    .col-form-label {
        color: #582c0d;
    }

    .form-control {
        border-radius: 5px;
        border-color: #582c0d;
    }

    .checkbox label {
        color: #582c0d;
    }

    .btn {
        background-color: #734022;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #582c0d;
        }

    p {
        color: #734022;
        line-height: 1.5;
    }
</style>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.order_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
